In [1]:
"""
    This Notebook was used to create:
        - average_performanc.csv - original xgboost data on the AUC and training time was averaged over (dataset,configuration) pairs
        - joint_data.csv - average performance data expanded with metafeatures of each dataset from featurse.csv

"""

import pandas as pd
from IPython.display import display
import numpy as np

In [2]:
runs_df = pd.read_csv("./data/xgboost_meta_data.csv")
display(runs_df)
grouped_runs_all = runs_df.groupby(['data_id','num_round','eta','gamma','lambda','alpha','subsample','max_depth',
                                 'min_child_weight','colsample_bytree',	'colsample_bylevel'])

,data_id,name,version,status,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
0,3,kr-vs-kp,1,active,1669,3.0,1527,2,37,3196,0,0,0,37
1,6,letter,1,active,813,26.0,734,26,17,20000,0,0,16,1
2,11,balance-scale,1,active,288,3.0,49,3,5,625,0,0,4,1
3,12,mfeat-factors,1,active,200,10.0,200,10,217,2000,0,0,216,1
4,14,mfeat-fourier,1,active,200,10.0,200,10,77,2000,0,0,76,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,41163,dilbert,1,active,2049,5.0,1913,5,2001,10000,0,0,2000,1
90,41164,fabert,1,active,1927,7.0,502,7,801,8237,0,0,800,1
91,41166,volkert,1,active,12806,10.0,1361,10,181,58310,0,0,180,1
92,41168,jannis,1,active,38522,4.0,1687,4,55,83733,0,0,54,1
93,41169,helena,1,active,4005,100.0,111,100,28,65196,0,0,27,1

,data_id,dataset,repl,num_round,eta,gamma,lambda,alpha,subsample,max_depth,min_child_weight,colsample_bytree,colsample_bylevel,timetrain,auc,task_id
0,41156,ada,1,6,0.691768,0.149889,89.037500,60.341400,0.473925,10,19.64140,0.180667,0.750369,0.358,0.847134,168767
1,41156,ada,9,194,0.366143,0.000524,11.182800,186.245000,0.924288,10,22.58400,0.176551,0.504884,0.576,0.876018,168767
2,41156,ada,5,383,0.994469,0.001833,0.768332,0.148777,0.618795,11,2.72713,0.785381,0.444095,2.712,0.896378,168767
3,41156,ada,4,17,0.033558,0.000238,0.135247,0.355317,0.156704,7,66.54070,0.987907,0.685637,0.316,0.840724,168767
4,41156,ada,3,8,0.002751,0.007462,0.002056,0.063124,0.365757,4,1.06066,0.187789,0.899083,0.304,0.878050,168767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3386861,181,yeast,3,13,0.002634,0.000003,368.937000,53.476300,0.435877,8,44.46210,0.736415,0.383195,0.195,0.625862,2073
3386862,181,yeast,1,311,0.126755,0.000008,71.602700,0.001683,0.904014,11,2.01811,0.922848,0.516069,2.714,0.862647,2073
3386863,181,yeast,10,30,0.147785,0.009881,16.992900,95.581100,0.288973,15,59.87200,0.434453,0.421873,0.239,0.500000,2073
3386864,181,yeast,3,150,0.002076,0.000031,704.795000,0.876104,0.880051,12,14.65480,0.364283,0.061496,0.609,0.783963,2073
3386865,181,yeast,2,127,0.142853,0.218487,0.066031,13.175400,0.295839,10,4.67909,0.097490,0.185300,0.609,0.767091,2073

In [34]:
average_performance = grouped_runs_all['auc','timetrain'].mean().reset_index()
display(average_performance)
average_performance= average_performance.rename(columns={"timetrain": "avg_time","auc":"avg_auc"})
average_performance
display(average_performance)
#Save configuration info
average_performance.to_csv('./data/average_performance.csv')

C:\Users\Korisnik\AppData\Local\Temp\ipykernel_1336\251162663.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  average_performance = grouped_runs_all['auc','timetrain'].mean().reset_index()

In [ ]:
new_performancee = pd.read_csv('./data/average_performance.csv')
new_performancee

In [7]:
features_data = pd.read_csv('./data/features.csv')
features_data

joint_data = new_performancee.merge(features_data, on='data_id', how='inner', suffixes=('_features', '_meta'))

In [10]:
joint_data
joint_data.columns

Index(['index', 'data_id', 'num_round', 'eta', 'gamma', 'lambda', 'alpha',
       'subsample', 'max_depth', 'min_child_weight', 'colsample_bytree',
       'colsample_bylevel', 'avg_auc', 'avg_time', 'name', 'version', 'status',
       'MajorityClassSize', 'MaxNominalAttDistinctValues', 'MinorityClassSize',
       'NumberOfClasses', 'NumberOfFeatures', 'NumberOfInstances',
       'NumberOfInstancesWithMissingValues', 'NumberOfMissingValues',
       'NumberOfNumericFeatures', 'NumberOfSymbolicFeatures'],
      dtype='object')

In [11]:
joint_data = joint_data.drop(['index', 'version', 'status', ], axis=1)

In [19]:
joint_data.to_csv('./data/joint_data.csv', index=False)

In [23]:
#current_id = 3
#runs = runs_df[runs_df['data_id']==current_id]
#display(runs)
#grouped_runs = runs.groupby(['num_round','eta','gamma','lambda','alpha','subsample','max_depth',
#                                 'min_child_weight','colsample_bytree',	'colsample_bylevel'])
#grouped_runs.groups.keys()
#mean_auc = grouped_runs['auc','timetrain'].mean().reset_index()
#grouped_runs.count()
#mean_auc

,data_id,dataset,repl,num_round,eta,gamma,lambda,alpha,subsample,max_depth,min_child_weight,colsample_bytree,colsample_bylevel,timetrain,auc,task_id
1584047,3,kr.vs.kp,5,2229,0.002322,0.001867,1.540740e-01,1.404430,0.472078,6,4.86367,0.810864,0.146347,25.768,0.996908,3
1584048,3,kr.vs.kp,2,21,0.054104,16.993300,1.738250e+00,0.005468,0.535274,1,1.94360,0.893213,0.888359,0.395,0.923956,3
1584049,3,kr.vs.kp,7,19,0.310291,0.040628,5.939950e-02,0.003081,0.168891,12,204.00200,0.436624,0.189303,0.274,0.500000,3
1584050,3,kr.vs.kp,10,163,0.001849,6.839170,7.598670e-06,323.085000,0.427684,2,28.04800,0.953595,0.983874,0.685,0.500000,3
1584051,3,kr.vs.kp,8,78,0.875102,0.000074,3.298180e+02,0.002707,0.392376,3,60.54350,0.512986,0.530617,0.426,0.851481,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618671,3,kr.vs.kp,5,1107,0.001357,0.000121,3.016900e+01,0.097875,0.940669,12,21.91260,0.406811,0.096966,1.899,0.954483,3
1618672,3,kr.vs.kp,3,241,0.004199,0.043291,5.931660e-02,230.705000,0.101843,1,77.54370,0.806288,0.814717,0.669,0.500000,3
1618673,3,kr.vs.kp,2,11,0.163341,0.116811,3.096310e-02,0.075178,0.340919,7,6.15270,0.502031,0.338327,0.578,0.976361,3
1618674,3,kr.vs.kp,10,703,0.443171,1.421790,1.837010e-02,1.704480,0.601767,11,113.59400,0.297409,0.373079,1.368,0.805980,3
1618675,3,kr.vs.kp,7,5,0.000997,6.215000,1.123370e-07,0.019172,0.113741,3,7.60808,0.685623,0.146710,0.258,0.816068,3